.title {
  width: 100%;
  background-color: gray;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.btn img {
  width: 20px;
}

.favorable {
  background-color: #40fc6f9c;
  color: white;
}

.moderate {
  background-color: #e5ff71cc;
  color: white;
}

.severe {
  background-color: #fc4a409c;
  color: white;
}

.card {
  background-color: #0084ff9c;
  color: #ffffff;
  margin: 10px;
}

.forcast h3 {
  margin: 10px;
}
