.title {
  width: 100%;
  background-color: gray;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.btn img {
  width: 35px;
  margin: 0px;
  padding: 0px;
}

.btn {
  padding: 0px;
}

.favorable {
  background-color: #40fc6f9c;
  color: white;
}

.moderate {
  background-color: #e5ff71cc;
  color: white;
}

.severe {
  background-color: #fc4a409c;
  color: white;
}

.card {
  background-color: #0084ff9c;
  color: #ffffff;
  margin: 10px;
  min-height: 250px;
}

.card h5 {
  margin: 10px;
}

.forcast h3 {
  margin: 10px;
}

.weather {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.weather h2,
img,
p {
  margin: 10px;
}

.weather h2,
img {
  display: inline-block;
}

.input-group {
  margin: 10px;
}

.weather img {
  width: 70px;
}

.card img {
  width: 50px;
}

.container {
  max-width: 100%;
}

aside {
  width: 100%;
  background-color: #f5f4f4c9;
  display: inline-block;
  min-height: 125px;
}

aside h4 {
  margin: 10px;
}

.list-group {
  margin: 0px 10px;
}

#search {
  max-width: 280px;
}

.allWeather {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.weather {
  min-height: 400px;
}

.card-body {
  padding: 0px;
}

/* made it resposive so when it hits 1500px width the project turns into aside instead of ontop */
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }

  aside {
    width: 400px;
    background-color: #f5f4f4c9;
    display: inline-block;
    min-height: 725px;
  }

  .allWeather {
    width: 1050px;
    display: inline-block;
    vertical-align: top;
  }

  aside {
    min-height: 725px;
  }
}
